<div class="row">
	<div class="col-xs-12 col-lg-8">
		{% block content %}
		<h1>{{post.title}}</h1>
		<article>
			<div class="page">
				{{post.content|raw}}
			</div>
		</article>
		{% endblock %}
		
		{% block post_content %}
			<div class="pull-right lastupdated">
				<em>
		        Sist oppdatert 
		        <span class="timeago" title="{{post.date|date('Y-m-d H:i:s')}}">{{post.date|date('d.m.Y H:i')}}</span>
				</em>
			</div>
		{% endblock %}
	</div>
</div>